<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
     <link rel="shortcut icon"
      type="image/png"
      href="/images/vsllogo" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta property="og:site_name" content="Muhammet"/>
    <meta property="og:url" content=""/>
    <meta name="theme-color" content="#DBEFEE" />
    <meta name="description" content="Hi i am Muhammet! I am Computer Engineer"/>
    <title>Muhammet | About</title>
     <link rel="stylesheet" href="index.css">
     <link rel="stylesheet" href="font-awesome-animation.min.css">
    <script
      src="https://kit.fontawesome.com/b198190252.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    
<div class="topnav">
  <a href="/">Home</a>
  <a href="/projects">Projects</a>
  <a class="active" href="/about">About</a>
  <a href="/links">Links</a>
</div>
    
    <script src="index.js"></script>
    <br />
    
    
    <h3 align="center" class="name">
      About me
    </h3>
    <br>
    <hr class="new4" />
    <br>
    <div class="bg-text">
      Hi, I'm Muhammet.<br>
      I am a first-year Computer Engineering student at Istanbul Health and Technology University, aiming to specialize in artificial intelligence and modern web design. As an engineering candidate who adapts quickly to new concepts, I focus on improving myself every day with a mindset not only of consuming technology but also creating it. I am highly motivated in analytical thinking, problem-solving, and rapidly understanding new technologies. <a class="link" href="/projects"><i class="fas fa-code"></i></a>
      <br>
      <br>
    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
        <div class="footer-basic">
      <footer>
       <!--- <ul class="list-inline">
          <li class="list-inline-item"><a href="/">Home</a></li>
          <li class="list-inline-item"><a href="/services">Services</a></li>
          <li class="list-inline-item"><a href="/about">About</a></li>
          <li class="list-inline-item"><a href="/partners">Partners</a></li>
          <li class="list-inline-item"><a href="/privacy-policy">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="/wisia-source">Github</a></li>
        </ul> --->
        <p class="copyright">Muhammet © 2025</p>
      </footer>
    </div>
  </body>
</html>
