<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
     <link rel="shortcut icon"
      type="image/png"
      href="/images/vsllogo" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta property="og:site_name" content="Muhammet"/>
    <meta property="og:url" content=""/>
    <meta name="theme-color" content="#DBEFEE" />
    <meta name="description" content="Hi I am Muhammet! I am Computer Engineer"/>
    <title>404 | Not Found</title>
     <link rel="stylesheet" href="index.css">
    <script
      src="https://kit.fontawesome.com/b198190252.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    
<div class="topnav">
  <a href="/">Home</a>
  <a href="/projects">Projects</a>
  <a href="/about">About</a>
  <a href="/links">Links</a>
</div>
    
    <script src="index.js"></script>
    <br />
    <h3 class="desc" align="center">
      <i title="Bob is sad" style="color: white; font-size: 100px;" class="far fa-frown-open"></i>
    </h3>
    <br />
    <hr class="new4" />
    <br />
    <h2 class="name" align="center">
      <%=statuscode%> | <%=message%>
    </h2>
  </body>
</html>
