<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
     <link rel="shortcut icon"
      type="image/png"
      href="/images/vsllogo" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta property="og:site_name" content="Muhammet"/>
    <meta name="keywords" content="">
    <meta property="og:url" content=""/>
    <meta name="theme-color" content="#DBEFEE" />
    <meta name="description" content="Hi I am Muhammet! I am Computer Engineer"/>
    <title> Muhammet | Links
</title>
     <link rel="stylesheet" href="index.css">
    <script
      src="https://kit.fontawesome.com/b198190252.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    
<div class="topnav">
  <a href="/">Home</a>
  <a href="/projects">Projects</a>
  <a href="/about">About</a>
  <a class="active" href="/links">Links</a>
</div>
    
    <script src="index.js"></script>
    <br />
    <p align="center">
      <i style="color: white; font-size: 100px;" class="fas fa-link"></i>
    </p>
    <br />
    <hr class="new4" />
    <br />
    
    <div class="bg-text">
      <h3 class="name" style="font-size: 30px;" align="center">
      Links 
    </h3> 
      <a style="color: white; text-decoration: none;" href="/github"><i class="fab fa-github"></i> Github</a>
      <br>
      <a style="color: white; text-decoration: none;" href="/instagram"><i class="fab fa-instagram"></i> Instagram</a>
      <br>
      <a style="color: white; text-decoration: none;" href="/gmail"><i class="far fa-envelope"></i> Mail</a>
      <br>
     </div>
