<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
     <link rel="shortcut icon"
      type="image/png"
      href="/images/vsllogo" />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta property="og:site_name" content="burak"/>
    <meta property="og:url" content="https://vsldev.glitch.me"/>
    <meta name="theme-color" content="#DBEFEE" />
    <meta name="description" content="Hi i am burak! I am html, css developer!"/>
    <title>Muhammet | Projects</title>
     <link rel="stylesheet" href="index.css">
    <script
      src="https://kit.fontawesome.com/b198190252.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    
<div class="topnav">
  <a href="/">Home</a>
  <a class="active" href="/projects">Projects</a>
  <a href="/about">About</a>
  <a href="/links">Links</a>
</div>
    
    <script src="index.js"></script>
    <br />
    
   <h2 class="name" align="center">
      Projects
    </h2>
    <br>
     <hr class="new4">
		  <div class="work-box">
		  <div class="work">
		<!--───────────────card───────────────-->
            <div class="card">
			     <img class="work-img" src="https://cdn.discordapp.com/attachments/1222207222059110480/1446225651362173162/personelwebsite.PNG?ex=69333618&is=6931e498&hm=79dfe2632d1872ad68f09869b5f83e782a6703af0adc6a184e24596caf269b73&"> 
				<a href="/" target="_blank"> <!--Link to project-->
				<div class="work-content">Personal website</div></a>
            </div>
        <div class="card">
			    <img class="work-img" src="https://cdn.glitch.me/cd94df14-05c6-4c80-b51e-224cebd0fce9%2Frainyboii2.gif?v=1634739562024">
				<a href="/" target="_blank">
				<div class="work-content">Coming soon...</div></a>
            </div>
			  
		  </div>
		  </div>
	  </div>
  
  <br />
  <br />
  <br />
  <br />
  <br />
      <div class="footer-basic">
      <footer>
       <!--- <ul class="list-inline">
          <li class="list-inline-item"><a href="/">Home</a></li>
          <li class="list-inline-item"><a href="/services">Services</a></li>
          <li class="list-inline-item"><a href="/about">About</a></li>
          <li class="list-inline-item"><a href="/partners">Partners</a></li>
          <li class="list-inline-item"><a href="/privacy-policy">Privacy Policy</a></li>
          <li class="list-inline-item"><a href="/wisia-source">Github</a></li>
        </ul> --->
        <p class="copyright">Muhammet © 2025</p>
      </footer>
    </div>
  </body>
</html>
